ul {
    list-style: none;
    display: flex;
    padding: 0%;
}
li{
    width: 30%;
    background-color:  rgba(123,198,199,0.8);
    font-family: sans-serif;
    margin-left: 0.2%;
    text-align: center;
    padding: 1%;
}

