.centrado{
    background-color: rgb(169, 182, 193);
    color: white;
    padding: 10%;
    display: flex;
    justify-content: center;
}
.tabla{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 1px;
    row-gap: 1px;
}
.cabecera{
    padding: 1.2%;
    width: 556px;
    margin-bottom: 1px;
    display: grid;
    grid-template-columns:1fr;
}
.centrado > div{
    display: flex;
    justify-content: center;
}