section{
    background-color: rgb(73, 108, 92);
    width: 100%;
    height: 1000px;
}h1{
    font-family:Arial;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding-top: 20px;
    font-size: 3em;
}
#primeraCita{
    width: 50%;
    height: auto;
    border:solid black 6px;
    border-radius:25px;
    font-size: 1.5em;
    background-color: white;
    padding: 10px 0 0 10px;
    float: right;
    margin-right: 23%;

}
#segundaCita{
    clear: both;
    width: 47.5%;
    height: 70px;
    border:solid rgba(205, 4, 4, 0.717) 12px;
    border-radius:10px 0 0 10px;
    font-size: 1.5em;
    background-color: white;
    background-color: rgb(233, 135, 135);
    color: white;
    padding-left: 1%;
    font-family: Arial;
    font-size: 1.5em;
    margin:0;
}
#terceraCita{
    clear: both;
    width: 47.5%;
    height: auto;
    border:solid rgb(205, 91, 4) 12px;
    font-size: 1.5em;
    background-color: white;
    background-color: rgb(205, 118, 4);
    color: white;
    padding-left: 1%;
    font-family: Arial;
    font-size: 1.5em;
    float: right;
    margin-top: 1%;
}
#cuartaCita{
    clear: both;
    width: 49%;
    height: auto;
    border-radius: 2px;
    border: dashed 2px rgb(112, 112, 230);
    font-size: 1.1em;
    font-family: Arial;
    color:white;
    background-color: blue;
    margin-left: 25%;
    padding: 20px 10px;
}
#quintaCita{
    clear: both;
    width: 47.5%;
    height: 70px;
    border:solid rgba(205, 4, 4, 0.717) 12px;
    border-radius:10px 0 0 10px;
    font-size: 1.5em;
    background-color: white;
    background-color: rgb(233, 135, 135);
    color: white;
    padding-left: 1%;
    font-family: Arial;
    font-size: 1.5em;
    margin:0;
}
#sextaCita{
    clear: both;
    width: 47.5%;
    height: auto;
    border:solid rgb(205, 84, 4)12px;
    font-size: 1.5em;
    background-color: white;
    background-color: rgb(205, 118, 4);
    color: white;
    padding-left: 1%;
    font-family: Arial;
    font-size: 1.5em;
    float: right;
    margin-top: 1%;
}
#septimaCita{
    clear: both;
    width: 49%;
    height: auto;
    border-radius: 2px;
    border: dashed 2px rgb(112, 112, 230);
    font-size: 1.1em;
    font-family: Arial;
    color:white;
    background-color: blue;
    margin-left: 25%;
    padding: 20px 10px;
}